[submodule "complete_examples/complete_examples/benchmark_inference_rknn/third-party/cxxopts"]
	path = complete_examples/complete_examples/benchmark_inference_rknn/third-party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
